nav {
  background-color: #fafafa;
  margin-bottom: 0%;

}

.nav-item {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.3rem;
  }

.nav-link {
  color: #393A39;
}
.nav-link:hover {
  color: #8D928D;
}

.logo {
  position: sticky;
  display: flex; 
  justify-content: center; 
  background-color: #fafafa;
}

.logo img {
   margin-bottom: 20%;
     margin-top: 40%;
}

* {
    font-family: 'Poiret One', cursive;  
}

.navbar-toggler {
    position: relative;
    width: 100%;
    margin: 0 auto !important;
}


#socIcons {
    transition: 0.5s; /* Transition effect when sliding down (and up) */
    margin-bottom: 0.3%;
}

.container img { 
  width: 100%;
}

p.article-content {
    text-align: center;
    color: rgb(136, 136, 136);
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    font-style: normal;
    text-transform: none;
    padding-top: 0px;
    padding-bottom: 25px;
}
.article-title {
    color: rgb(68, 68, 68);
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 70px;
    padding-bottom: 30px;
    padding-top: 0px;
    text-align: center;
    text-transform: none;
    width: 100%;

}

.article-subtitle {
    color: rgb(68, 68, 68);
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 70px;
    padding-bottom: 30px;
    padding-top: 0px;
    text-align: center;
    text-transform: none;
    width: 100%;

}

.center {
  width: 100px;
  margin-bottom: 5%;
}

a.post-title {
  color: #393A39;
}

a.post-title:hover {
  color: #8D928D;
}

