<style>
.jumbotron {
background-image: url("/media/profile2.jpg");
background-size: cover;}
</style>

{% extends "blog/base.html" %}
{% block content %}
<div class="jumbotron">
  <div class="container">
  <h1 class="display-1 text-white">NADIA KOCH</h1>
  <br><br><br><br><br>
  <p class="lead text-white">Fashion Lover by Nature</p>
  <p class="lead text-white">Art Appreciator in Spirit</p>
  <p class="lead text-white">Interior Designer by Vocation</p>
  <br><br><br><br><br>
 <!-- <p class="lead">
    <a class="btn btn-light btn-lg" href="/media/la.jpg" role="button" download>CV</a>
 </p> -->
  </div>
</div>
  
{% endblock content %}


