{% load static %}
<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'blog/custom.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">

</head>

<body>


<div class="logo">
	<a href="/">
		<img src="/media/logo.png" width="100" alt="logo">
	</a>
</div>

<nav class="navbar navbar-expand-md sticky-top">
		
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <div class="container">
            <div class="row">	
                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center;">	

                    <div id="socIcons">
                        <ul class="navbar-nav mx-md-auto mr-auto"  style="display: inline-block;">
                             <li class="nav-item">	
        	                     <!--Facebook -->
                                 <a class="fb-ic" href="https://www.facebook.com/nadia.igorevna"><i class="fa fa-facebook white-text mr-2"> </i></a>
                                 <!--Linkedin -->
                                 <a class="li-ic" href="https://www.linkedin.com/in/1a2199127/"><i class="fa fa-linkedin white-text mr-2"> </i></a>
                                 <!--Instagram-->
                                 <a class="ins-ic" href="https://www.instagram.com/nadiakochdesign/"><i class="fa fa-instagram white-text mr-2"> </i></a>
                                 <!--Pinterest-->
                                 <a class="fb-ic" href="https://www.pinterest.com/nadiakochdesign/"><i class="fa fa-pinterest white-text mr-2"> </i></a>
                             </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>
        

{% block content %}{% endblock %}

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

<!---
<script type="text/javascript">
	
$(document).ready(function(){
    var banner = $("#socIcons");
    var bannerStartHeight = $("#socIcons").height();
    $(window).scroll(function(){
        var scroll = $(window).scrollTop();
        if (scroll >= bannerStartHeight){
            $("#socIcons").hide();
        } 
        else {
            $("#socIcons").show();
        }
    });
});
</script>
-->

<script type="text/javascript">
$(document).ready(function() {
  $('.image-link').magnificPopup({
    type:'image', 
    callbacks: {
                    resize: changeImgSize,
                    imageLoadComplete:changeImgSize,
                    change:changeImgSize
                }});
});
function changeImgSize(){
            var img = this.content.find('img');
            img.css('max-height', '100%');
            img.css('width', 'auto');
            img.css('max-width', 'auto');
        }
</script>

</body>

{% include "blog/footer.html" %}
{% block footer %}
{% endblock %}

</html>
