<style>
.container {
  display: flex;
  justify-content: center;
}
.center {
  width: 100px;
  margin-bottom: 5%;
}
</style>


<!-- Footer -->
<div class="container">
    <div class="center">
     <button onclick="topFunction()" class="btn btn-light btn-lg  btn-outline-warning" id="myBtn" title="Go to top">
        <span class="arrow">↑</span>Back to Top
    </button>
    </div>
</div>


 <script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>
